table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  table-layout: fixed;
}

#tableContainer {
  display: block;
  overflow: auto;
  height: 1000px;
  background-color: rgba(41, 147, 179, 0.5);
  border-radius: 20px;
  margin: 10px 40px 0 40px;
}

tr {
  border: 1px solid black;
  background-color: rgb(46, 194, 199);
  transition: 0.75s;
  justify-content: space-between;
}

th {
  position: sticky;
  top: 0;
  background-color: rgb(46, 194, 199);
}

#contactsTable > tbody > tr:hover,
th:hover {
  background-color: rgb(45, 248, 255);
  height: 60px;
  transition: 0.75s;
}

td,
th {
  height: 40px;
  border: 1px solid black;
  width: 100px;
}

#searchContainer {
  margin-left: 40px;
  background-color: rgb(41, 147, 179);

  background-image: url('../images/search-icon.png');
  background-size: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  width: 40px;
  height: 40px;
  font-size: 0%;
  transition: 0.75s;
}

#searchContainer:hover,
#searchContainer:has(input:not(:placeholder-shown)) {
  background-color: rgba(45, 248, 255, 0);
  background-image: none;
  width: 300px;
  border-radius: 20px;
  font-size: 90%;
  transition: 0.75s;
}

#searchContainer > * {
  visibility: hidden;
}

#searchContainer:hover > *,
#searchContainer:has(input:not(:placeholder-shown)) > * {
  visibility: visible;
  transition: 0.75s;
}

#searchInput {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-left: 10px;
  margin: 0;
  border: 0;
}

#optionsContainer {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

#optionsContainer > * {
  height: 40px;
  margin: 0 5px;
}

.layoutContainer {
  background-color: rgb(23, 84, 102);
  border-radius: 20px;
}

#showModalBtn,
#logoutBtn {
  width: 90px;
}

#updateButtonContainer {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  justify-content: space-between;
}

#updateButtonModal,
#updateButtonPedestal {
  width: 200px;
  height: 50px;
}

#deleteButtonModal,
#deleteButtonPedestal {
  width: 50px;
  height: 50px;
  margin-left: calc(100% - 50px);

  background-color: rgb(255, 0, 0);
  background-image: url('../images/trash-icon.png');
  background-size: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#deleteButton:hover {
  background-color: rgb(255, 101, 101);
  transition: 0.5s;
}

#deleteButton::after {
  float: none;
}

#addResult {
  text-align: center;
  margin-bottom: 10px;
}

#searchResult,
#addResult {
  color: white;
}

#displayLabel {
  margin-right: 40px;
  padding: 10px;
  width: calc(190px - 20px);
  border-radius: 20px;

  background-color: rgb(41, 147, 179);
}

.toolBar {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

#cardsContainer {
  height: 1000px;
  margin-top: 5px;
  margin: 10px 40px;

  background-color: rgba(41, 147, 179, 0.5);
  border-radius: 20px;

  /* On show */
  /* display: flex; */

  /* On hide */
  display: none;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  align-content: flex-start;
}

.card {
  padding: 10px;
  min-width: 380px;
  height: 193px;
  margin: 10px;
  border-radius: 20px;

  background-color: rgb(46, 194, 199);

  cursor: pointer;
}

.card > h1 {
  text-align: left;
  color: black;
}

.card-content {
  background-color: rgb(41, 147, 179);
  border-radius: 20px;
  padding: 5px;
}

.card-content > * {
  padding: 5px;
  display: flex;
  text-align: left;
  color: black;
}

.card-content > p {
  margin: 5px;
}

#pedestal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;

  height: 0;
  width: 0;
  transition: height ease 750ms;
}

#pedestal:has(.card) {
  visibility: visible;
  height: 50%;
  width: 100%;
  padding: 0 180px;
  transition: height ease 750ms;
}

#pedestalEditor {
  background-color: rgb(41, 147, 179);
  border-radius: 20px;
  width: 40%;
  height: 80%;
}

#pedestalEditor {
  min-width: 600px;
}

.rotate {
  -webkit-animation: spin 1s linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    -ms-transform: rotate3d(0, 1, 0, 90deg);
    -o-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0);
    -ms-transform: rotate3d(0, 1, 0, 0);
    -o-transform: rotate3d(0, 1, 0, 0);
    transform: rotate3d(0, 1, 0, 0);
  }
}

.shrink {
  scale: 0;
  transition: 1s;
}

#gridLayoutButton,
#listLayoutButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(46, 194, 199);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#gridLayoutButton {
  background-image: url('../images/grid-icon.png');
}

#listLayoutButton {
  background-image: url('../images/list-icon.png');
}

#gridLayoutButton:hover,
#listLayoutButton:hover {
  background-color: rgb(45, 248, 255);
  transition: 0.75s;
}

.sortIndicator {
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  margin-left: 5px;
  margin-top: -10px;
}

.indicateBoth::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  margin-left: 5px;
  transform: rotate(180deg);
}

.indicateUp {
}

.indicateDown {
  border-bottom: 5px solid black;

  transform: rotate(180deg);
}
