body {
    margin: 0;
    padding: 0;
    background-image: url('../Assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

h1, h2 {
    margin: 0;
    font-weight: normal;
}

header {
    background: black;
    padding: 10px 0;
    margin: 0;
    color: white;
    border-bottom: 5px solid rgb(37, 160, 86);
    position: relative;
}

.nav {
    position: absolute;
    right: 0;
    top: 0;
}

.navBtn:hover {
    color: rgb(37, 160, 86);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 30px;
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.topTextContainer {
    padding-top: 20px;
    text-align: center;
    font-size: 200%;
    display: block;
}

.homeContainer {
    padding-top: 20px;
    text-align: center;
    font-size: 200%;
    display: block;
}

#name {
    font-size: 300%;
}

#viewProjects {
    border: 2px solid white;
    border-radius: 5px;
    width: 15%;
    align-self: center;
    padding: .5% 1%;
    margin: auto;
    margin-top: 5%;
    left: 50%;
}

#viewProjects a {
    text-decoration: none;
    color: white;
}

.icon {
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 50px;
}

.codePreview {
    display: inline-flex;
    flex-wrap: wrap;
    /* background: red; */
    /* margin: auto; */
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    /* overflow: hidden; */
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.codePreviewSub {
    /* float: left; */
    padding: 30px;
    width: 600px;
    height: 600px;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

.codePreview::after {
    clear: both;
}

.canvasContainer {
    display: inline-block;
    text-align: center;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    margin-bottom: 10px;
}

.optionsContainer {
    display: inline-block;
    background: rgb(37, 160, 86);
    margin: 10px 0px;
    padding-top: 1px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 900px;
}

p {
    margin: 0;
}

.optionPair {
    display: block;
    float: left;
    margin: 0 20px;
}

.optionPair::after {
    clear: both;
}

.radioContainer {
    display: block;
    float: left;
    padding: 10px;
}

.optionsContainer::after {
    clear: both;
}

#solveButton {
    width: 100px;
    height: 30px;
    transform: translate(0, 50%);
    top: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#defaultCanvas0 {
    background: rgb(37, 160, 86);
    padding: 5px;
}

#cnvParent1 {
    margin-top: 1%;
}

#pictureContainer {
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font-size: 200%;
}

.designPreview {
    width: 800px;
    height: 800px;
    object-fit: cover;
    padding: 10px;
}

#imageFullscreen {
    visibility: hidden;
    position: fixed;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    width: auto;
    left: 50%;
    top: 50%;
    background: rgb(37, 160, 86);
    padding: 5px;
}

#bodyContainer {
    width: 100%;
    height: 100%;
    z-index: -1;
}

footer {
    position: fixed;
    bottom: 0;
}