.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.project {
  transition: 0.2s;
}

.project:hover {
  background-color: #5e57e0; /* Default is bg-indigo-600 */

  /* Make slightly bigger */
  margin-left: 0;
  margin-right: 0;

  transition: 0.2s;
}

.socialLink {
  transition: 0.2s;
}

.socialLink:hover {
  background-color: white;
  transition: 0.2s;
}

.bg {
  /* Gradient */
  background: linear-gradient(0deg, #5e57e0 0%, rgb(14 165 233) 100%);
}
