@use 'variables' as *;


* {
  color: $text-color;
}

b {
  color: $text-color;
}

#pfp {
  max-width: 150px;
  max-height: 150px;
  width: 30vw;
  height: 30vw;
  aspect-ratio: 1/1;
}

.projectDisplay {
  transition: 0.25s;

  &:hover {
    transform: scale(1.1);
  }
}

.socialLink {
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.project {
  &:nth-child(2n+1) {
    & .projectDisplay {
      right: 0;
    }
  }

  &:nth-child(2n) {
    & .projectDisplay {
      left: 0;
    }

    & .project-card {
      margin-left: auto;
    }
  }
}

.project-card {
  background: $secondary;
  box-shadow: $shadow-l;
  border-radius: 16px
}

.project-header {
  box-shadow: $shadow-m;
}

.project-link,
.technology-item {
  background-color: $tertiary;
  box-shadow: $shadow-s;
  border-radius: 16px;
}

.project-link {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 20px;

  &>svg {
    margin: auto;
  }

  &>svg:hover {
    stroke: white;
  }
}

.header {
  flex: 0 0 64px;
}

.header-button {
  box-shadow: $shadow-s
}

#tracker li {
  transition: 300ms;
  position: relative;


  &.active {
    color: white;

    //use trackerAnimation
    animation: trackerAnimation 500ms ease-in-out;
  }
}

.glow {
  &:hover {
    // filter: brightness(1.1) saturate(1.2);
    text-shadow: 0 0 5px $text-color, 0 0 15px $text-color, 0 0 25px $text-color, 0 0 75px $text-color;
  }
}

.transition-header {
  view-transition-name: header;
}

@for $i from 1 through 10 {

  #projects section.project:nth-of-type(#{$i}) .project-card,
  #experience>article>section:nth-of-type(#{$i}) {
    view-transition-name: box-body-#{$i};
  }
}

.experience-card {
  box-shadow: $shadow-l;
  background-color: $tertiary;
  border-radius: 16px;
}

.experience-header {
  box-shadow: $shadow-m;
}