.project {
  transition: 0.2s;

  filter: saturate(.1);

  &:hover {
    filter: none;
  }
}


.socialLink {
  transition: 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

.bg {
  background: linear-gradient(0deg, #5e57e0 0%, rgb(14 165 233) 90%);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1000;
}



.project {
  &:nth-child(2n+1) {
    & .projectDisplay {
      right: 0;
    }
  }

  &:nth-child(2n) {
    & .projectDisplay {
      left: 0;
    }

    &>h1 {
      @apply text-right;
    }

    & .description {
      margin-left: auto;
    }

    & .techContainer {
      float: right;
    }
  }
}

.projectLink {
  @apply flex mt-4 gap-4 w-min h-min;

  &>svg:hover {
    stroke: white;
  }
}

.links {
  @apply flex gap-4;
}

header li:hover {
  color: rgb(79 70 229);
}